[MASTER]
py-version = 3.14
jobs = 4

[MESSAGES CONTROL]
disable =
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments

[DESIGN]
max-args = 7
max-locals = 20

[FORMAT]
max-line-length = 100

[IMPORTS]
extension-pkg-whitelist = pytest
